
@media only screen and (min-width:768px) {
    body {
        background-color: lightgray;
        margin: 0%; padding: 0%;
    }
    #header {
        font-family:Georgia, 'Times New Roman', Times, serif;
        text-align: center;
    }
    #main-holder { width: 40%;
        margin-left: 30%; margin-right:30%;
        font-family:Georgia, 'Times New Roman', Times, serif
    }
    
    #username-field { padding: 0%; margin: 0%; border:0%
    
    }
    #usernamefiller {
        padding: 0%; margin: 0%; border:0%
    }
    
    #password-field {
        padding: 0%; margin-left: 2%; border:0%
    }
    
    .passwordgroup {margin-left: 35%; margin-right:35%; width: 30%; padding: 0%; border: 0%;
    
    }
    .usernamegroup {  margin-left: 35%; margin-right:35%; width: 30%; padding: 0%; border: 0%;
    }
    
    #usernamegroupbox { margin-left: 30%; padding: 0%; width: 70%; margin-right:0%;
    
    }
    
    #passwordgroupbox { margin-left: 30%; padding: 0%; width: 70%; margin-right:0%;
    
    }
    
    #submit {margin-top: 2%; border:0%; padding-top: 1%; padding-left: 2%; padding-right: 2%; padding-bottom: 1%;
        margin-left:20%;
    }
    
}